.note {
    min-height: 100px;
    margin-bottom: 20px;
    margin-top: 35px;
    margin-left: 40px;
}

.note h2 {
    font-size: 34px;
    letter-spacing: .68px;
    line-height: 30px;
    font-family: 'Neue Haas Grotesk Display Pro 45 Light';
    text-transform: none;
    margin-bottom: 8px;
}

.note span {
    font-size: 24px;
    letter-spacing: 0.48px;
    line-height: 25px;
    font-family: 'Neue Haas Grotesk Display Pro 45 Light';
}

#calendar {
    height: auto!important;
}

#calendar .col {
    padding-top: 100px;
    /* align-items: center; */
    border-left: 1px solid #868686!important;
    border-right: 1px solid #868686!important;
}

#calendar .col:first-child {
    border-left: 2px solid #868686!important;
}

#calendar .col:last-child {
    border-right: 2px solid #868686!important;
}

a.note-btn {
    color: #fc0800;
    font-weight: bold;
    font-family: 'Neue Haas Grotesk Display Pro 65 Medium';
}

.note:hover>.note-btn {
    display: block;
}

.day {
    width: calc(100% / 7);
    height: 100%;
}

p.name {
    font-family: 'Neue Haas Grotesk Display Pro 65 Medium';
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
}

#banner .days .container {
    padding: 0 6em!important;
}

section#banner {
    background-image: url(./assets/TheFitnessClub__banner.png);
    -webkit-box-shadow: inset 0px 0px 0px 100vw rgb(0 0 0 / 75%);
    -moz-box-shadow: inset 0px 0px 0px 100vw rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 0px 100vw rgb(0 0 0 / 75%);
}

#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

​ #style-4::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

​ #style-4::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}
.reponsive-date .arrows {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 0 3em;
    z-index: 999;
    flex-direction: column;
}

.reponsive-date .arrow.prev {
    max-width: 45px;
    cursor: pointer;
}

.reponsive-date .arrow.next {
    max-width: 45px;
    cursor: pointer;
}

/*block*/

.note.note-8, .note.note-9, .note.note-10, .note.note-11, .note.note-12 {
    display: none;
}

.note-btn {
    display: none;
}

.reponsive-date {
    display: none;
}

​
/*reponsive*/

@media screen and (max-width: 1366px) {
    .note h2 {
        font-size: 20px;
    }
    .note span {
        font-size: 15px;
    }
}

@media screen and (max-width: 980px) {
    .note h2 {
        font-size: 15px;
    }
    .note span {
        font-size: 12px;
    }
    h2.num {
        font-size: 40px;
    }
    p.name {
        font-size: 12px;
    }
    section#calendar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: normal;
        padding: 0px 10%;
    }
    #banner .days {
        display: none;
    }
    #calendar .col {
        flex-direction: row;
        width: 100%;
        height: auto;
        padding-top: 0;
    }
    #calendar .col {
        border: 1px solid #aaa;
    }
    section.reponsive-date {
        display: block;
        position: absolute;
        transform: translate(-50%, 0px);
        left: 5%;
    }
    section.reponsive-date .day {
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #aaa;
        text-align: center;
    }
    .note {
        min-width: 100px;
        ​
    }
    ::-webkit-scrollbar {
        width: 0px;
        /* Remove scrollbar space */
        background: transparent;
        /* Optional: just make scrollbar invisible */
        height: 5px;
    }
    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
        height: 3px;
    }
    #calendar .col {
        overflow-x: scroll;
        min-height: 200px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 800px) {
    ​ h2.num {
        font-size: 30px;
    }
    p.name {
        font-size: 9px;
    }
    footer .wrapper div.col h5 {
        font-size: 15px;
    }
    ​ footer .wrapper div.col a {
        width: 130px;
    }
    ​ footer .wrapper h6 {
        font-size: 10px;
    }
    ​ footer .wrapper ul.col li {
        font-size: 13px;
    }
    ​ footer .wrapper ul.col {
        margin-left: 10px;
    }
}
@media screen and (max-width:980px) and (min-width:800px){
    .reponsive-date .arrow.prev,.reponsive-date .arrow.next{
        padding: 5px 10px;
    }
}
@media screen and (max-width: 768px){
    section.reponsive-date .day{
        min-height: 160px;
    }
    #calendar .col{
        min-height: 160px;
    }
}
@media screen and (max-width:500px){
    section#calendar{
        padding: 0px 0 0 19%;
    }
    section.reponsive-date{
        left: 10%;
    }
}
#calendar {
    height: auto!important;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    max-width: 480px;
}

/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#inp-email-calendar {
    padding: 5px 20px 5px 0px;
    margin-right: 10px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px 10px 10px 0px;
    width: 360px;
}

#btnSubmitEmail {
    padding: 5px 10px;
    /* background: #b38aff; */
    border: 1px solid gray;
    border-radius: 3px;
}

.modal-header h4 {
    margin-top: 3px;
}

.eventTitle {
    cursor: pointer;
}

#modal-success {
    display: none;
    padding: 5px 20px 5px 0px;
}
.num sup{
    font-size: 20px;    
}

.reponsive-date .num sup{
    clear: both;
    display: block;
}