.note{
	min-height: 150px;
	margin-bottom: 30px;
}
.note h2 {
    font-size: 20px;
    letter-spacing: .68px;
        line-height: 25px;
    margin-bottom: 0;
    font-family: 'Neue Haas Grotesk Display Pro 45 Light';
}
.note div {
    font-size: 14px;
    letter-spacing: 0.48px;
    line-height: 20px;
    font-family: 'Neue Haas Grotesk Display Pro 45 Light';
}
#calendar .col{
    padding-top: 128px;
}
