form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 6em;

  @media screen and (max-width: $mobile-breakpoint) {
    margin-top: 2em;
  }
  input {
    width: 100%;
    color: #000;
    font-size: 34px;
    border: none;
    border-bottom: 2px solid #000;
    margin-bottom: 3em;
    font-weight: 300;
    font-family: inherit;
    padding: 10px 0;
    @media screen and (max-width: $mobile-breakpoint) {
      font-size: 18px;
    }
    &:last-of-type {
      margin-bottom: 1em;
    }
    &.half-field {
      width: 47%;
    }

    &:active,
    &:focus {
      outline: none;
      border-bottom-color: $color-red;
    }
  }

  ::placeholder {
    color: #000;
    opacity: 1;
    font-weight: 300;
  }

  button {
    background: transparent;
    color: $color-red;
    margin-left: auto;
    border: none;
    outline: none;
    font-family: inherit;
  }
}

label {
  font-size: 24px;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 18px;
  }
}
