* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  font-family: $font-body--light;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.4em;
}

h1,
h2 {
  font-family: $font-heading;
  font-weight: 500;
  text-transform: uppercase;
}

h3,
h4 {
  font-weight: 300;
}

h5,
h6 {
  font-family: $font-body--med;
  font-weight: 500;
}

h1 {
  font-size: 4.7vw;
  line-height: 1.05;
  #banner & {
    font-size: 6vw;
  }
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 16px;
  text-transform: uppercase;
  color: $color-red;
}

ul {
  li {
    list-style: none;
    margin: 1em 0;
    font-size: 22px;
  }
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

.btn {
  padding: 1em 4em;
  font-size: 22px;
  display: table;
  background: $color-red;
  font-family: $font-body--med;
  color: #fff;
}

.has-arrow {
  font-size: 22px;

  &:hover {
    &:after {
      transform: translateX(10px);
    }
  }
  &:after {
    content: url("/assets/icon-arrow.svg");
    margin-left: 10px;
    transition: all 0.3s;
    display: inline-block;
  }

  &.red {
    &::after {
      content: url("/assets/icon-arrow-red.svg");
    }
  }
}

.row {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}
