* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  font-family: $font-body--light;
}

body {
  @media screen and (max-width: $mobile-breakpoint) {
    &:not(.class-schedule) {
      padding-top: 71px;
    }
  }

  &.init__modal {
    overflow: hidden;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.4em;
}

h1,
h2 {
  font-family: $font-heading;
  font-weight: 500;
  text-transform: uppercase;
}

h3,
h4 {
  font-weight: 300;
  line-height: 1.5;
}

h6 {
}

h1 {
  font-size: 4.7vw;
  line-height: 1.05;
  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 34px;
  }
  #banner & {
    font-size: 6vw;
    @media screen and (max-width: $mobile-breakpoint) {
      font-size: 7vw;
    }
  }
}

h2 {
  font-size: 55px;
  @media screen and (max-width: $laptop-breakpoint) {
    font-size: 48px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 30px;
  }
}

h3 {
  font-size: 32px;
  @media screen and (max-width: $laptop-breakpoint) {
    font-size: 28px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 20px;
  }
}

h4 {
  font-size: 22px;
  @media screen and (max-width: $laptop-breakpoint) {
    font-size: 22px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 18px;
  }
}

h5 {
  font-size: 20px;
  font-family: $font-body--light;
  font-weight: 300;
  @media screen and (max-width: $laptop-breakpoint) {
    font-size: 20px;
  }
  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 18px;
  }
}

h6 {
  font-size: 16px;
  text-transform: uppercase;
  color: $color-red;
  font-weight: 400;
  font-family: $font-body--med;
  font-weight: 500;
  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 14px;
  }
}

ul {
  li {
    list-style: none;
    margin: 1em 0;
    font-size: 20px;
    @media screen and (max-width: $mobile-breakpoint) {
      font-size: 18px;
    }
  }
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
  visibility: hidden;
}

.btn {
  padding: 1em 4em;
  font-size: 22px;
  display: table;
  background: $color-red;
  font-family: $font-body--med;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: all 0.2s;

  &:before {
    content: "";
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: all 0.2s;
  }

  &:hover {
    color: #000;
    &::before {
      width: 100%;
    }
  }

  @media screen and (max-width: $laptop-breakpoint) {
    padding: 1em 3em;
    font-size: 20px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    padding: 1em 2em;
    font-size: 16px;
  }
}

button {
  cursor: pointer;
}

.has-arrow {
  font-size: 22px;

  &:hover {
    &:after {
      transform: translateX(10px);
    }
  }
  &:after {
    content: url("assets/icon-arrow.svg");
    margin-left: 10px;
    transition: all 0.3s;
    display: inline-block;
  }

  &.red {
    &::after {
      content: url("assets/icon-arrow-red.svg");
    }
  }
}

.row {
  display: flex;
  @media screen and (max-width: $mobile-breakpoint) {
    flex-direction: column;
  }
}

.col {
  display: flex;
  flex-direction: column;
}
