$color-red: #fc0800;
$color-black: #0d0d0d;
$color-grey: #aaa;

$mobile-breakpoint: 850px;
$tablet-breakpoint: 1030px;
$laptop-breakpoint: 1280px;

$font-heading: "Soehne Breit";
$font-body--med: "Neue Haas Grotesk Display Pro 65 Medium";
$font-body--light: "Neue Haas Grotesk Display Pro 45 Light";
